name: Flutter iOS Build

on: [push]

jobs:
  build:
    runs-on: macos-latest # Runner macOS gratis

    steps:
      - uses: actions/checkout@v4

      - name: Decode provisioning profile and certificate
        run: |
          mkdir -p ~/certs
          echo "${{ secrets.IOS_PROVISION_PROFILE }}" | base64 --decode > ~/certs/chatlytica.mobileprovision
          echo "${{ secrets.IOS_SHARE_PROVISIONING_PROFILE }}" | base64 --decode > ~/certs/chatlyticashare.mobileprovision
          echo "${{ secrets.IOS_CERTIFICATE }}" | base64 --decode > ~/certs/cert.p12

      - name: Install certificate to keychain
        run: |
          security create-keychain -p "" build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p "" build.keychain
          security import ~/certs/cert.p12 -k build.keychain -P "${{ secrets.IOS_PASSWORD }}" -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple: -s -k "" build.keychain

      - name: Install provisioning profile
        run: |
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp ~/certs/chatlytica.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/chatlytica.mobileprovision
          cp ~/certs/chatlyticashare.mobileprovision ~/Library/MobileDevice/Provisioning\ Profiles/chatlyticashare.mobileprovision

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.9"
          cache: true # Ganti versi Flutter Anda

      # - name: Setup SSH
      #   run: |
      #     mkdir -p ~/.ssh
      #     echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
      #     chmod 600 ~/.ssh/id_ed25519
      #     ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Get Flutter dependencies
        run: flutter pub get

      - name: Install Pods
        run: |
          cd ios
          pod install
          cd ..

      - name: Build IOS
        run: |
          flutter build ipa --release --export-options-plist ios/ExportOptions.plist
