name: Flutter iOS Build

on:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: macos-latest # Runner macOS gratis

    steps:
      - uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.9" # Ganti versi Flutter Anda

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Get Flutter dependencies
        run: flutter pub get

      - name: Install Pods
        run: |
          cd ios
          pod install
          cd ..

      - name: Build IPA
        run: |
          flutter build ipa
